<article class="contents-wrapper-user mx-auto">
  <div class="contents-user">
    <p class="icon"><%= image_tag @user.image %></p>
    <div class="user-content">
      <ul class="name-text">
        <h2><li><%= @user.name %></li></h2>
        <h3></h3><li><%= @user.comment %></li></h3>
      </ul>
      <ul class="post-edit-favorite">
        <li>捨てた数</li>
        <li><%= "#{@posts_count}件"%> </li>
        <% if @user.id == current_user.id %>
          <li><%= link_to 'プロフィール編集',edit_user_registration_path(id: current_user.id) %></li>
        <% end%>
        <li><%= link_to "お気に入り", favorites_path(id: current_user.id) %></li>
      </ul>
    </div>
  </div>
  <% @user_posts.each do |user_post| %>
    <div class="contents-user_post">
      <ul>
        <li><%= image_tag user_post.image  %></li>
      </ul>
    </div>
  <% end %>
</article>