
<%= form_with(model: @post, local: true) do |form| %>

<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="post_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="post_title">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <%= form.submit %>
<% end %>
