
<%= form_with(model: @post, local: true) do |form| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">

    <div class="field">
      <%= form.label :画像 ,class: "control-label" %>
      <%= form.file_field :image %>
    </div>

    <div class="field">
      <%= form.label :捨てるモノ ,class: "control-label" %>
      <%= form.text_field :title ,class: "control-label" %>
    </div>

    <div class="field">
      <%= form.label :ストーリー ,class: "control-label" %>
      <%= form.text_area :comment %>
    </div>

    <div class="actions">
      <%= form.submit "投稿", class: "btn btn-lg btn-outline-dark btn-primary"  %>
    </div>

  </div>
<% end %>
