

<%= form_with(model: @post, local: true) do |form| %>
  
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">

    <p class="preview" />
  
    <script>
      $(function(){
        $('form').on('change', 'input[type="file"]', function(e) {
          var file = e.target.files[0],
              reader = new FileReader(),
              $preview = $(".preview");
              t = this;

          if(file.type.indexOf("image") < 0){
            return false;
          }

          reader.onload = (function(file) {
            return function(e) {
              $preview.empty();
              $preview.append($('<img>').attr({
                        src: e.target.result,
                        class: "preview",
                        title: file.name
                    }));
            };
          })(file);

          reader.readAsDataURL(file);
        });
      });
    </script>

    <div class="field">
      <%= form.label :画像 ,class: "control-label" %>
      <%= form.file_field :image, class: "preview" %>
    </div>

    <div class="field">
      <%= form.label :捨てるモノ ,class: "control-label" %>
      <%= form.text_field :title ,class: "control-label" %>
    </div>

    <div class="field">
      <%= form.label :なぜ捨てるのか。 ,class: "control-label" %>
      <%= form.text_area :comment %>
    </div>

    <div class="actions">
      <%= form.submit "投稿", class: "btn btn-lg btn-outline-dark btn-primary"  %>
    </div>   

<% end %>