<ul class="st-post__list">
<% @posts.each do |post| %>
<li>
  <article class="post_container">
    <header class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
    </header>
    <div class="post_contents card-img-top text-white ">
      <%= link_to (image_tag post.image),post_path(post.id)%>
    </div>
    <footer>
      <% if post.user.image.file.nil? %>
        <i><%= image_tag 'ic_noimage.jpg' %></i>
      <% else%>
        <i><%= image_tag post.user.image %></i>
      <% end%>
      <p><%= link_to  post.user.name,user_path(id: post.user.id),data: {"turbolinks" => false} %></p>
      <time datetime="<%= post.created_at %>">
        <%= time_ago_in_words(post.created_at) %>
      </time>
    </footer>
  </article>
</li>
<% end %>
<%= paginate @posts %>
</ul>

