<!DOCTYPE html>
<html>

  <head>
    <title>Suteru</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <h3>HEADER</h3>
    <%= link_to "top", top_index_path %>
    <% if user_signed_in? %>
      <%= link_to "投稿一覧", posts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <%= link_to "プロフィール", user_path(id: current_user.id)%>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <h3>FOOTER</h3>
    </div>
  </footer>

</html>
