<!DOCTYPE html>
<html>
  <head>
    <title>Suteru</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- viewport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="twitter:card" content="Summary Card with Large Image" />
    <meta name="twitter:site" content="@Suterujp" />
    <meta name="twitter:image" content="/Suteru_img.png" />
    <meta name="twitter:title" content="Suteru" />
    <meta name="twitter:description" content="Suteru(ステール)は、「モノを捨てる」ことにフォーカスしたシェアサービスです。" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= favicon_link_tag('Suteru_fav.ico') %>
  </head>
<body>
  <header class="st-header">
    <div class="header-wapper">
      <%= link_to image_tag('/Suteru-logo.png', { :border => '0', :alt => 'LOGO Image'}), top_index_path %>
      <nav aria-label="メニュー">
        <ul class="headr-nav">
          <% if user_signed_in? %>
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "プロフィール", user_path(id: current_user.id), data: {"turbolinks" => false}%></li>
            <li><%= link_to '新規投稿', new_post_path %></li>
          <% else %>
            <li><%= link_to "投稿一覧", posts_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
          <% end %>
            <li class="twitter_icon"><%= link_to image_tag('/Twitter_Social_Icon.png', { :border => '0', :alt => 'twitter_link'}), 'https://twitter.com/Suterujp' %></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main_contents">
    <% if notice || alert %>
    <div class="notice">
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </div>
    <% end %>
    <%= yield %>
  </main>

  <footer class="st-footer">
    <div class="footer-wapper">
      <p>© 2019 Suteru,inc.</p>
    </div>
  </footer>
<body>
</html>
